<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Bow Ties.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>Bubble Tea Finder.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>CDbT.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>Dog Walk.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>HitList.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>UnCloudNotes.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
		<key>WorldCup.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>E7507FE71E3ADA5E004F0826</key>
		<dict>
			<key>primary</key>
			<true />
		</dict>
		<key>E75080121E3BCB60004F0826</key>
		<dict>
			<key>primary</key>
			<true />
		</dict>
		<key>E76DCCB51E36A41800E1CB02</key>
		<dict>
			<key>primary</key>
			<true />
		</dict>
		<key>E76DCCCE1E36A44C00E1CB02</key>
		<dict>
			<key>primary</key>
			<true />
		</dict>
		<key>E76DCCE71E36D94A00E1CB02</key>
		<dict>
			<key>primary</key>
			<true />
		</dict>
		<key>E76DCD001E36DA4E00E1CB02</key>
		<dict>
			<key>primary</key>
			<true />
		</dict>
		<key>E7D565B11E37A69B004DC662</key>
		<dict>
			<key>primary</key>
			<true />
		</dict>
		<key>E7D565D41E37E0CD004DC662</key>
		<dict>
			<key>primary</key>
			<true />
		</dict>
		<key>E7D566131E37E43F004DC662</key>
		<dict>
			<key>primary</key>
			<true />
		</dict>
	</dict>
</dict>
</plist>
